body,
html {
  margin: 0;
  background-color: black;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}
html.html-noscroll {
  overflow-y: hidden;
}
.hcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 100px auto auto;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    ". . . ."
    "content content content content"
    "footer footer footer footer";
}
.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 10vw 40vw 40vw 10vw;
  grid-template-areas: ". one two .";
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

/* NAVIGATION */
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 2.5rem;
  font-style: bold;
  grid-area: nav;
  max-height: 7vh;
}

.nav a {
  text-decoration: none;
}

.nav-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-item:hover,
.nav-item:focus {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}

.nav-icon {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-icon-wrapper {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
}

/* shopping cart animation */
.shopping-cart-container {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.counter-container {
  border-radius: 1px solid red;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.counter-container svg {
  width: 3rem;
  color: white;
}

.cart-counter-span {
  user-select: none;
  position: absolute;
  background-color: #ff4754;
  text-decoration: none;
  color: white;
  width: 0.9rem;
  height: 0.9rem;
  font-size: 0.5rem;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -0.5rem;
  right: -0.5rem;
}

.counter-container span:not(.animated-counter) {
  display: none;
}

.counter-container span .animated-counter {
  animation: count 0.4s ease-in-out;
}
@keyframes count {
  0% {
    top: 0.2rem;
    right: 1.2rem;
    transform: 120deg;
  }
  25% {
    top: -0.2rem;
    right: -1.2rem;
    transform: 80deg;
  }
  50% {
    top: -0.4rem;
    right: -0.6rem;
    transform: 60deg;
  }
  75% {
    top: -0.4rem;
    right: -1.8rem;
    transform: 120deg;
  }
  100% {
    top: -0.5rem;
    right: -0.5rem;
    transform: 0deg;
  }
}

.nav-logo {
  width: 10vw;
  margin-left: 1vw;
}

.mainheader {
  height: 4rem;
}
.header {
  grid-area: header;
  background-color: white;
  display: flex;
  justify-content: space-between;
  min-height: 5vh;
}
.header-left {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 2%;
  justify-content: space-between;
  height: 3.5rem;
  align-items: center;
  width: 50%;
}
.header-right {
  display: flex;
  padding-inline-end: 5%;
  align-items: center;
  gap: 10px;
}
.filter,
.sort {
  width: 109px;
  height: 34px;
  left: 987px;
  top: 145px;
  border: 1px solid #7c7c7c;
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.products:hover,
.products:focus {
  color: #e37a2d;
  cursor: pointer;
  text-decoration-line: underline;
}

.footer {
  color: antiquewhite;
  height: 100px;
  grid-area: footer;
}
.one {
  background-color: black;
  color: black;
  grid-area: one;
  display: flex;
  justify-content: flex-end;
}
.breakfast {
  width: 100%;
  height: auto;
  max-height: 700px;
  max-width: 700px;
}
.two {
  background-color: #3a3a3a;
  color: white;
  grid-area: two;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 40vw;
  max-height: 700px;
  height: 40vw;
  align-items: center;
  display: flex;
  box-shadow: 20px 20px 200px 100px rgba(121, 121, 121, 0.2);
}
.two-content {
  padding: 5%;
}
.breadcrumbs {
  font-size: 13px;
  color: #9a9a9a;
}
.headline1 {
  font-size: 25pt;
  font-weight: bold;
}
.price {
  font-size: 15pt;
  margin-top: -20px;
}
.information {
  font-size: 11pt;
  color: #9a9a9a;
}
.jamaica {
  float: right;
  width: 20px;
}
.info {
  color: #9a9a9a;
  font-size: 10pt;
}
.breakfast {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.subscription {
  width: 60%;
  color: white;
  background-color: black;
  border-radius: 20px;
  border-color: black;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 12pt;
}
.number {
  width: 30%;
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 12pt;
  border-color: transparent;
}
.price2 {
  width: 93%;
  margin-top: 4px;
  background-color: #e37a2d;
  color: white;
  border-radius: 20px;
  border-color: #e37a2d;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 12pt;
}
.price2:hover {
  background-color: #9a9a9a;
  border-color: #9a9a9a;
  color: white;
}
.small-header {
  display: none;
}
.pslide-menu {
  display: none;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: black;
  margin-block: 5px;
}
::-webkit-scrollbar-thumb {
  background: #e37a2d;
  border-radius: 4px;
}
@media only screen and (max-width: 1200px) {
  .content {
    grid-area: content;
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: auto auto;
    grid-template-areas:
      ". one one ."
      ". two two .";
    height: fit-content;
    justify-items: center;
  }
  .one {
    justify-content: center;
    border-bottom-left-radius: 0;
  }
  .two {
    width: 80vw;
    height: fit-content;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    max-width: 700px;
  }

  .breakfast {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
}
@media only screen and (max-width: 900px) {
  .nav {
    max-height: 5vh;
  }

  .nav-item {
    display: none;
  }

  .nav-icon {
    display: none;
  }

  .nav-logo {
    max-width: 70px;
    min-height: 60px;
    content: url("logos/logo-simple-white.svg");
  }

  .shopping-cart-container {
    display: none;
  }

  /*The hamburger menu was implemented from codeSTACKr's youtube video: https://www.youtube.com/watch?v=dIyVTjJAkLw&ab_channel=codeSTACKr*/
  .hamburger-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width: 40px;
    height: 40px;
  }
  .hamburger {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
  }
  .hamburger::before {
    transform: translateY(-10px);
  }
  .hamburger::after {
    transform: translateY(10px);
  }
  .hamburger-btn.open .hamburger {
    transform: translate(20px);
    background: transparent;
  }
  .hamburger-btn.open .hamburger::before {
    transform: rotate(45deg) translate(-15px, 15px);
  }
  .hamburger-btn.open .hamburger::after {
    transform: rotate(-45deg) translate(-15px, -15px);
  }
  /*Slide menu triggered from js by pressing the hamburger-btn*/
  .pslide-menu {
    position: relative;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: rgba(2, 2, 2, 1);
    z-index: 2;
    display: none;
    border-radius: 0px 20px;
    padding-left: 30%;
  }
  .pslide-menu.popen-slide {
    display: flex;
    animation-name: slide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  .slide-nav {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-left: 15px;
  }
  .slide-icons,
  .pages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15pt;
    margin-top: 50px;
  }
  .slide-nav-item {
    color: white;
    text-decoration: none;
  }
  .slide-nav-item:hover {
    color: orange;
    text-decoration: underline;
  }
  .small-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: bolder;
    font-size: 13pt;
  }
  .small-header-right,
  .small-header-left {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .small-downarrow {
    height: 8px;
  }
  .small-filter {
    height: 16px;
  }
  .header-left,
  .header-right {
    display: none;
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(20%);
  }
}
@media only screen and (max-width: 700px) {
  .content {
    grid-template-areas:
      "one one one one"
      "two two two two";
  }
  .hcontainer {
    grid-template-rows: auto auto 0px auto auto;
  }
  .breakfast,
  .two {
    border-radius: 0;
    width: 100%;
  }
}
