body,
html {
  margin: 0;
  background-color: black;
  font-family: Helvetica, sans-serif;
}
.hcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "content content content content"
    "footer footer footer footer";
}
.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  grid-template-areas: ". one two .";
  justify-content: space-around;
}

/* NAVIGATION */
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 2.5rem;
  font-style: bold;
  grid-area: nav;
  max-height: 7vh;
}

.nav a {
  text-decoration: none;
}

.nav-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-item:hover,
.nav-item:focus {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}

.nav-icon {
  color: white;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.nav-icon-wrapper {
  margin-left: 1.5rem;
}

.nav-logo {
  width: 10vw;
  margin-left: 1vw;
}

.mainheader {
  height: 4rem;
}
.header {
  grid-area: header;
  background-color: white;
  max-height: 3.5rem;
}
.header-left {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 2%;
  padding-inline-end: 20%;
  justify-content: space-between;
  height: 3.5rem;
  align-items: center;
  width: 50%;
}
.products:hover,
.products:focus {
  color: #e37a2d;
  cursor: pointer;
  text-decoration-line: underline;
}

.footer {
  background-color: black;
  color: antiquewhite;
}
.one {
  background-color: black;
  color: black;
  grid-area: one;
  max-height: 70vh;
  border-bottom-left-radius: 10%;
}
.two {
  background-color: #3a3a3a;
  color: white;
  grid-area: two;
  max-height: 70vhpx;
  padding-right: 11%;
  padding-left: 3%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.breadcrumbs {
  font-size: 13px;
  color: #9a9a9a;
}
.headline1 {
  font-size: 40px;
  font-weight: bold;
}
.price {
  font-size: 15pt;
  margin-top: -20px;
}
.information {
  font-size: 11pt;
  color: #9a9a9a;
}
.jamaica {
  float: right;
}
.info {
  color: #9a9a9a;
  font-size: 10pt;
}
.breakfast {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.subscription {
  width: 45%;
  color: white;
  background-color: black;
  border-radius: 20px;
  border-color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  font-size: 12pt;
}
.number {
  width: 45%;
  border-radius: 20px;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 12pt;
  border-color: transparent;
}
