body,
html {
  margin: 0;
  background-color: black;
  font-family: Helvetica, sans-serif;
  /* here we have to change it so that it's some kinda google font other whise it doesnt work on windows and linux */
  color: #ffffff;
  overflow-x: hidden;
}

.hcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main";
  height: 100vh;
}

/* NAVIGATION */
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 2.5rem;
  font-style: bold;
  grid-area: nav;
  max-height: 7vh;
}

.nav a {
  text-decoration: none;
}

.nav-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1.5rem;
}

.nav-item {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}

.nav-item:hover {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}

.nav-icon {
  color: white;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.nav-icon-wrapper {
  margin-left: 1.5rem;
}

.nav-logo {
  width: 10vw;
  margin-left: 1vw;
}

.main {
  grid-area: main;
}

/* CART ITEMS */

.cart-page {
  margin: 80px auto;
  /* width: 70vw; */
  margin-left: 200px;
  margin-right: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

th {
  text-align: left;
  padding: 5px;
  background: #e37a2d;
  color: rgb(255, 255, 255);
}

td {
  padding: 10px 5px;
  color: rgb(255, 255, 255);
}

td input {
  width: 30px;
  height: 20px;
  padding: 5px;
  border-radius: 7px;
}

td a {
  color: red;
  font-size: 12px;
  text-decoration: none;
}

td a:hover {
  color: grey;
  cursor: pointer;
}

td img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

/* TOTAL PRICE  */

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #e37a2d;
  width: 100%;
  max-width: 310px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.continue-btn {
  color: white;
  background: #e37a2d;
  border-radius: 15px;
  padding: 10px 30px;
  border: none;
  font-size: 16px;
}

.continue-btn:hover {
  cursor: pointer;
}

.btn-td {
  width: 100%;
  max-width: 310px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.small-header {
  display: none;
}
.pslide-menu {
  display: none;
}
/* Hamburger menu and slide menu */
@media only screen and (max-width: 900px) {
  .nav {
    max-height: 5vh;
  }

  .nav-item {
    display: none;
  }

  .nav-icon {
    display: none;
  }

  .nav-logo {
    max-width: 70px;
    min-height: 60px;
    content: url("logos/logo-simple-white.svg");
  }

  .shopping-cart-container {
    display: none;
  }
  .nav-right {
    padding: 0;
  }

  /*The hamburger menu was implemented from codeSTACKr's youtube video: https://www.youtube.com/watch?v=dIyVTjJAkLw&ab_channel=codeSTACKr*/
  .hamburger-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width: 40px;
    height: 40px;
  }
  .hamburger {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
  }
  .hamburger::before {
    transform: translateY(-10px);
  }
  .hamburger::after {
    transform: translateY(10px);
  }
  .hamburger-btn.open .hamburger {
    transform: translate(20px);
    background: transparent;
  }
  .hamburger-btn.open .hamburger::before {
    transform: rotate(45deg) translate(-15px, 15px);
  }
  .hamburger-btn.open .hamburger::after {
    transform: rotate(-45deg) translate(-15px, -15px);
  }
  /*Slide menu triggered from js by pressing the hamburger-btn*/
  .pslide-menu {
    position: relative;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgba(2, 2, 2, 1);
    z-index: 2;
    display: none;
    border-radius: 0px 20px;
    padding-left: 30%;
  }
  .pslide-menu.popen-slide {
    display: flex;
    animation-name: slide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  .slide-nav {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-left: 15px;
  }
  .slide-icons,
  .pages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15pt;
    margin-top: 50px;
  }
  .slide-nav-item {
    color: white;
    text-decoration: none;
  }
  .slide-nav-item:hover {
    color: orange;
    text-decoration: underline;
  }
  .small-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: bolder;
    font-size: 13pt;
  }
  .small-header-right,
  .small-header-left {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .small-downarrow {
    height: 8px;
  }
  .small-filter {
    height: 16px;
  }
  .header-left,
  .header-right {
    display: none;
  }
  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(20%);
    }
  }
}

/* MEDIA QUERY less than 800px wide */

@media only screen and (max-width: 800px) {
  .cart-info p {
    display: none;
  }

  .cart-page {
    margin-right: 25px;
    margin-left: 25px;
  }

  .total-price {
    justify-content: center;
  }
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

footer p {
  color: rgb(81, 81, 81);
}

.links-wrapper {
  display: flex;
  display: row;
  justify-content: center;
}

.link-wrapper {
  color: rgb(154, 154, 154);
  padding: 3rem;
  width: 15rem;
  padding-left: 7rem;
}

.link-wrapper a {
  text-decoration: none;
  color: rgb(154, 154, 154);
}

.socials-wrapper {
  display: flex;
  justify-content: center;
}

.footer-img {
  width: 2rem;
  margin: 1rem;
}

.LLC-wrapper {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  footer {
    display: none;
  }
}
