body,
html {
  margin: 0;
  background-color: black;
  font-family: Helvetica, sans-serif;
  /* here we have to change it so that it's some kinda google font other whise it doesnt work on windows and linux */
}
.hcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main";
  height: 100vh;
}

/* NAVIGATION */
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 2.5rem;
  font-style: bold;
  grid-area: nav;
  max-height: 7vh;
}

.nav-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-item:hover,
.nav-item:focus {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}

.nav-icon {
  color: white;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.nav-icon-wrapper {
  margin-left: 1.5rem;
}

.nav-logo {
  width: 10vw;
  margin-left: 1vw;
}

.main {
  display: grid;
  grid-area: main;
  background-color: rgb(0, 0, 0);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 9fr 1fr;
  grid-template-areas:
    "  main_content . "
    " . chatbox ";
  justify-items: center;
  color: #ffffff;
  background-image: url(coffee-g782ce509c_1920\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  margin-left: 5%;
}

.main_content {
  grid-area: main_content;
}
.chatbox {
  grid-area: chatbox;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}
.chat {
  grid-area: chat;
  width: 49px;
  height: 49px;
  left: 1165px;
  top: 783px;
  background: #e37a2d;
  border-radius: 16px 16px 0px 0px;
  margin-right: 50px;
}
.btn_more {
  box-sizing: border-box;

  width: 155px;
  height: 32px;
  left: 1056px;
  top: 471px;

  background: #5a5a5a;
  border: 2px solid #ffffff;
  border-radius: 19px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 50px;
}
h1 {
  font-size: 60pt;
}
.intro {
  max-width: 400px;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: black;
  margin-block: 5px;
}
::-webkit-scrollbar-thumb {
  background: #e37a2d;
  border-radius: 4px;
}

/* HOME */
.pcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 187.4px auto;
  grid-template-areas:
    "nav nav nav nav"
    "pmain pmain pmain pmain";
}
.pmain {
  display: grid;
  grid-area: pmain;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 3rem;
  justify-content: center;
}
.pcontent {
  background-color: rgb(202, 202, 202);
  height: 400px;
  border-radius: 10px;
  cursor: pointer;
}
